@model Afforestation.WebUI.Models.ViewModels.SiteEditViewModel

@{
    ViewData["Title"] = "Saha Oluştur";
}

<h2>Saha Oluştur</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Saha Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>


    <span asp-validation-for="Latitude" class="text-danger"></span>
    <span asp-validation-for="Longitude" class="text-danger"></span>

    <div class="mb-3 row">
        <div class="col">
            <label asp-for="City" class="form-label">Şehir</label>
            <input asp-for="City" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="District" class="form-label">İlçe</label>
            <input asp-for="District" class="form-control" />
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col">
            <label asp-for="Latitude" class="form-label">Enlem</label>
            <input asp-for="Latitude" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="Longitude" class="form-label">Boylam</label>
            <input asp-for="Longitude" class="form-control" />
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="PlantingData" class="form-label">Dikim Tarihi</label>
        <input asp-for="PlantingData" class="form-control" type="date" />
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label">Durum</label>
        <select asp-for="Status" class="form-control">
            <option value="Aktif">Aktif</option>
            <option value="İzleniyor">İzleniyor</option>
            <option value="Bakım Gerekli">Bakım Gerekli</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Oluştur</button>
    <a class="btn btn-secondary" asp-action="Index">Geri Dön</a>
</form>