@model Afforestation.WebUI.Models.ViewModels.SiteEditViewModel

@{
    ViewData["Title"] = "Create Site";
}

<h2>Create Site</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="District" class="form-label"></label>
            <input asp-for="District" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label asp-for="Latitude" class="form-label"></label>
            <input asp-for="Latitude" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="Longitude" class="form-label"></label>
            <input asp-for="Longitude" class="form-control" />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="PlantingData" class="form-label"></label>
        <input asp-for="PlantingData" class="form-control" type="date" />
    </div>
    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>
        <input asp-for="Status" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Back</a>
</form>
